<%- include('navbar') %>

<div>

    <div class="wrapper">
        <div class="box">
            <p>Please check if you have uploaded appropriate file </p>
        <p>&#58;&#40;</p>
        <p><a href="/">Let' try again!</a></p>
        </div>
        </div>


</div>


<%- include('footer') %>