<footer id="footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="center mx-auto">

        
            <a class="navbar-brand" href="https://www.linkedin.com/in/nandnandan-patil-b4885422a/">
                <i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i>
              </a>
              <a class="navbar-brand"  href="mailto:nandnandanpatil@gmail.com">
                <i class="fa-solid fa-envelope fa-lg" style="color: #ffffff;"></i>
              </a>
              <a class="navbar-brand" href="https://github.com/nandanpatil">
                <i class="fa-brands fa-github fa-lg" style="color: #f7f9fd;"></i>
              </a>
              
            </div>
        
    </nav>
</footer>