<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge" >
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" >

	<title>Byte-Binder</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	
	<link rel='stylesheet' type='text/css' href='/styles.css'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</script>
	
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/data-compression.png" width="30" height="30" class="d-inline-block align-top" alt="txt-logo" loading="lazy">
			<!-- <a href="https://www.flaticon.com/free-icons/data-compression" title="data compression icons">Data compression icons created by Freepik - Flaticon</a> -->
            Byte-Binder
          </a>
    </div>
    <div class="ms-auto">
		
        <a class="navbar-brand" href="https://github.com/nandanpatil/Byte-Binder">
			<i class="fa-brands fa-github" style="color: #f8f8f6;"></i>  Github
          </a>
    </div>
</nav>